<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>testservlet</servlet-name>
        <servlet-class>servlet.testservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adduserservlet</servlet-name>
        <servlet-class>servlet.adduserservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processpersonactionservlet</servlet-name>
        <servlet-class>servlet.processpersonactionservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPersonEditServlet</servlet-name>
        <servlet-class>servlet.ProcessPersonEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>helperfunction</servlet-name>
        <servlet-class>helperfunction.helperfunction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processBuildingActionServlet</servlet-name>
        <servlet-class>servlet.processBuildingActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRoomServlet</servlet-name>
        <servlet-class>servlet.addRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessBuildingEditServlet</servlet-name>
        <servlet-class>servlet.ProcessBuildingEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testservlet</servlet-name>
        <url-pattern>/testservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adduserservlet</servlet-name>
        <url-pattern>/adduserservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processpersonactionservlet</servlet-name>
        <url-pattern>/processpersonactionservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPersonEditServlet</servlet-name>
        <url-pattern>/ProcessPersonEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>helperfunction</servlet-name>
        <url-pattern>/helperfunction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processBuildingActionServlet</servlet-name>
        <url-pattern>/processBuildingActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRoomServlet</servlet-name>
        <url-pattern>/addRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessBuildingEditServlet</servlet-name>
        <url-pattern>/ProcessBuildingEditServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
