#l1{
    padding-left: 25px; 
}

#l1:link{
    text-decoration: none;
}

#l1:hover{
    text-decoration: underline;
}

#l2{
    padding-left: 25px; 
}

#l2:link{
    text-decoration: none;
}

#l2:hover{
    text-decoration: underline;
}

#l3{
    padding-left: 25px; 
}

#l3:link{
    text-decoration: none;
}

#l3:hover{
    text-decoration: underline;
}

#l4{
    padding-left: 25px; 
}

#l4:link{
    text-decoration: none;
}

#l4:hover{
    text-decoration: underline;
}

#lm:link{
    text-decoration: none;
}

#lm:hover{
    text-decoration: underline;
}

body{
    background-color: #dcceed;
}



